/* body {
    background-image: url("https://images.unsplash.com/photo-1722854520365-af316eaf59da?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

/* #range-img {
    block-size: 600px;
} */

#range-img {
    width: 100%;
    height: 400px;
    background: url("https://images.unsplash.com/photo-1722854520365-af316eaf59da?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hit-miss-button {
    visibility: hidden;
    height: 75px;
    width: 200px;

}


#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 5px;
}

h2 {
    margin: 5px;
}

#tgt-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#tgt-buttons button {
    height: 30px;
    width: 120px;
}

#user-interface {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 250px 250px auto auto;
    gap: 20px;
    margin: 20px;

}

.reference-card {
    /* list-style: none;
    border: black solid;
    display: inline-block;
    margin: 0;
    padding: 5px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
    border: .1px solid black;
}


.reference-card li {
    border: .1px solid black;
}

#army-man {
    height: 200px;
}

.card-title {
    text-decoration: underline;
}